<template>
    <div>
        <input type="text" value="This is a demo of composition"/>
    </div>
</template>

<script>
import {useMousePosition} from './MouseTracking.js';
export default {
    name: 'CompositionParent',
    setup() {
    const { x, y } = useMousePosition()
    // other logic...
    return { x, y }
  }
}
</script>

<style>

</style>