<template>
  <div>
    <img alt="Vue logo" src="@/assets/logo.png">
    <keep-alive>
        <component v-bind:is="component" />
    </keep-alive>
    <button v-on:click="toggle">Toggle</button>
  </div>
</template>
<script>
import Component1 from './Component1'
import Component2 from './Component2'
export default {
  name: 'DynamicComponent',
  components: {
    Component1, Component2
  },
  data (){
    return {
      component:"Component1"
    }
  },
  methods: {
    toggle(){
      if (this.component === Component1) {
        this.component = Component2;
      } else {
        this.component = Component1;
      }
    }
  }
}
</script>