<template>
  <div>
    <div v-for="(error, index) in lst" :key="index">
      <label>
        {{ error }}
      </label>
      <br />
    </div>
  </div>
</template>
<script>
export default {
  name: "ErrorDisplay",
  props: ['errors'],
  computed:{
    lst() {
      return this.errors;
    }
  }
};
</script>