<template>
  <div>
    <label>
      Name
      <input type="text" v-model="input" name="name" />
    </label>
    <ErrorDisplay v-if="input" :errors="errors" />
  </div>
</template>
<script>

import { minLength, isEmail } from "./validators";
import ErrorDisplay from './ErrorDisplay';
import useInputValidator from "./useInputValidator";
export default {
  name: 'InputName',
  props: {
    value: String
  },
  setup (props, { emit }) {
    const { input, errors } = useInputValidator(
      props.value, 
      [minLength(3), isEmail()],
      function(value){emit("input", value)}
    );
    return {
      input,
      errors
    }
  },
  components:{
    ErrorDisplay
  }
}
</script>