<template>
  <div class="container-admin">
    <v-client-table :selected-to="selectedRow" :data="list" :columns="columns" :options="options">
      <div slot="actions" slot-scope="{ row }">
        <ul class="list-inline m-0">
          <li class="list-inline-item">
              <router-link :to="{ name: 'admin-accountL-edit', params: { 'username': row.username} }" class="btn btn-success btn-sm rounded-0">
                <i class="fa fa-edit"></i>
              </router-link>
          </li>
          <li class="list-inline-item">
              <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><i class="fa fa-trash"></i></button>
          </li>
        </ul>
      </div>      
    </v-client-table>
  </div>
</template>

<script>
import AccountService from '../../services/admin/account.service';
import Constants from '@/constants';
export default {
  name: 'AccountList',
  data() {
    return {
      selectedRow: {},
      list: [],
      columns: ['id', 'username', 'email', "actions"],
      options: {
          headings: {
              id: 'ID',
              name: 'Username',
              email: 'Email',
              action: 'Action'
          },
          sortable: ['username', 'Email'],
          filterable: ['username', 'Email']
      }
    };
  },
  mounted() {
    if(!this.hasRoleAdmin){
      this.$router.push('/');
      return;
    }
    AccountService.getAccountList().then(
      response => {
        this.list = response.data;
      },
      error => {
        this.content =
          (error.response && error.response.data) ||
          error.message ||
          error.toString();
      }
    );
  },
  computed: {
    currentUser : function(){
      return this.$store.state.auth.user
    },
    hasRoleAdmin: function(){
      return this.currentUser && this.currentUser.roles && this.currentUser.roles.includes(Constants.ROLE.ADMIN);
    }
  }
};
</script>