<template>
  <div class="container-admin">
    <form>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" placeholder="Enter username" v-model="user.username">
      </div>
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" v-model="user.email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</template>

<script>
import AccountService from '../../services/admin/account.service';

export default {
  name: 'AccountEdit',
  data() {
    return {
      user: {}
    };
  },
  created() {
    if(this.$route.params.username){
      AccountService.getAccountEdit(this.$route.params.username).then(
            response => {
              console.log('response:', response)
              this.user = response.data;
            },
            error => {
              this.content =
                (error.response && error.response.data) ||
                error.message ||
                error.toString();
            }
          );
    }else{
      this.$router.push('/admin/accountList');
    }
  }
};
</script>