<template>
  <div :id="id" class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <slot />
    </button>
    <ul class="dropdown-menu dropdown-menu-right">
      <li v-for="(item, index) in arrays" :key="index">
        <DynamicItem :item="item"/>
      </li>
    </ul>
  </div>
</template>

<script>
import DynamicItem from './DynamicItem';
export default {
  name: 'DropdownMenuDynamic',
  components: {
    DynamicItem
  },
  props: {
    arrays: {
      type: Array,
      default: () => [],
    },
    id: {
      type: String,
      required: true,
    },
  }
};
</script>
