<template>
  <component :is="dynamicItem.component" :item="item" v-if="dynamicItem.component"/>
</template>
<script>
import { reactive, computed } from '@vue/composition-api'
export default {
    name: 'DynamicItem',
    props:{
        item: Object
    },
    setup(props){
        const dynamicItem = reactive({
            component : computed(() => {
                if (!props.item || !props.item.template) {
                    return import("./ItemComponent");
                }
                return () => import(`./${props.item.template}`);
            })
        })

        return {
            dynamicItem
        }
    }
}
</script>