<template>
  <button class="dropdown-item dropdown-item-component" @click="doFunc">
    <font-awesome-icon :icon="item.icon" v-if="item.icon"/>
    {{ item.label }}
  </button>
</template>
<script>

export default {
  name: 'ItemComponent',
  props: {
    item: {
      type: Object,
      required: true,
    }
  },
  setup(props){
    function doFunc(){
      props.item.doAction();
    }

    return {
      doFunc
    }
  }
};
</script>