<template>
  <router-link :to="item.path" class="dropdown-item dropdown-item-link">
    <font-awesome-icon :icon="item.icon" v-if="item.icon"/>
    {{ item.label }}
  </router-link>
</template>
<script>

export default {
  name: 'ItemLink',
  props: {
    item: Object
  }
};
</script>