<template>
  <li class="dropdown-submenu dropleft">
    <a class="dropdown-item" tabindex="-1" href="#" onclick="return false">
      <font-awesome-icon :icon="item.icon" />
      {{ item.label }}
    </a>
    <ul class="dropdown-menu">
      <li v-for="(child, index) in item.items" :key="index">
        <DynamicItem :item="child" />
      </li>
    </ul>
  </li>
</template>

<script>
import DynamicItem from "./DynamicItem";
export default {
  name: "SubMenu",
  components: {
    DynamicItem,
  },
  props: {
    item: Object
  },
};
</script>

<style scoped>
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
</style>