<template>
    <div>
        <InputTextBT :listeners="listeners" :two-way="true" name="basic" v-model="aaaa" @customEvent1="doOnChange1" @customEvent2="doOnChange2"/>
    </div>
</template>
<script>
import InputTextBT from './InputTextBT';
import { ref, reactive, onMounted } from '@vue/composition-api'
export default {
    name: 'InputTextDemo',
    components:{
        InputTextBT
    },
    setup() {
        const aaaa = ref('');
        const listeners = reactive({
            'change': []
        });

        function doOnChange1(paramObj){
            console.log('parent doOnChange1 paramObj:', paramObj)
            console.log('aaaa:', aaaa.value) 
        }
        

        function doOnChange2(paramObj){
            console.log('parent doOnChange2 paramObj:', paramObj)
            console.log('aaaa:', aaaa.value)
        }
        
        onMounted(() => {
            listeners['change'].push({'name': 'customEvent1'})
            listeners['change'].push({'name': 'customEvent2'})
        })
        
        return {
            aaaa,
            listeners,
            doOnChange1,
            doOnChange2
        }
    }
}
</script>