<template lang="pug">
    <div class="form-group">
        <label :for="id">Email address</label>
        include inputtext.pug
        <small :id="id + '_text'" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
</template>
<script>
import inputtext from './inputtext.js';
export default {
    name: 'InputTextBT',
    props:{
        value : String,
        id: String,
        name: String,
        twoWay: Boolean,
        listeners: {}
    },
    setup(props, { emit } ){
        const {xinput1, doClick, doOnChange} = inputtext(props, { emit });
        return {
            xinput1,
            doClick,
            doOnChange
        }
    }

}
</script>