<template>
    <div>
        <input :id="id" :name="name" v-model="xinput1" @click="doClick" @change="doOnChange"/>
    </div>
</template>

<script>
import inputtext from './inputtext.js';
export default {
    name: 'InputText',
    props:{
        value : String,
        id: String,
        name: String,
        twoWay: Boolean,
        listeners: {}
    },
    setup(props, { emit } ){
        const {xinput1, doClick, doOnChange} = inputtext(props, { emit });
        return {
            xinput1,
            doClick,
            doOnChange
        }
    }
}
</script>