<template>
    <div>
        <slot>
            <input type="text" value="This is a demo of slot"/>
        </slot>
    </div>
</template>

<script>

export default {
    name: 'SlotParent'
}
</script>

<style>

</style>