<template>
    <div>
        <div class="border-top mt-1 mb-3 border-3"></div>
        <SlotNameComponent title="Demo1">
            <template v-slot:header>
                this is custom header
            </template>
            the rest is default slot
            <template v-slot:footer>
                this is custom footer
            </template>
        </SlotNameComponent>
        <div class="border-top mt-5 mb-3 border-3"></div>
        <SlotNameComponent title="Scoped Slots" >
            <template #header="{ header }">
                {{ header.firstName }}
            </template>
            <template #footer="{ footer }">
                {{ footer.lastName }}
            </template>
        </SlotNameComponent>
        <div class="border-top mt-5 mb-3 border-3"></div> 
        <SlotDynamicComponent :items="items">
            <template #header>
                Dynamic Slot
            </template>
            <template #itemcontent="{ person }" >
                <span v-if="person.gender == 1"> Nam: </span>
                <span v-if="person.gender == 0"> Nữ: </span>
                {{ person.name }}
            </template>
        </SlotDynamicComponent>
        <div class="border-top mt-5 mb-3 border-3"></div> 
        <SlotDynamicComponent :items="items">
            <template #header>
                Dynamic Slot Scope 1
            </template>
            <template #itemcontent="slotProps" >
                <span v-if="slotProps.person.gender == 1"> Nam: </span>
                <span v-if="slotProps.person.gender == 0"> Nữ: </span>
                {{ slotProps.person.name }}
            </template>
        </SlotDynamicComponent>

        <div class="border-top mt-5 mb-3 border-3"></div> 
        <SlotNameComponent title="Dynamic Slot Name">
            <template v-for="dynamicSlotName in dynamicSlotNames" v-slot:[dynamicSlotName]>
                {{ dynamicSlotName }}
            </template>
        </SlotNameComponent>

    </div>
</template>
<script>

import SlotDynamicComponent from './SlotDynamicComponent';
import SlotNameComponent from './SlotNameComponent';
export default {
    name: 'SlotNameDemo',
    components:{
        SlotNameComponent,
        SlotDynamicComponent
    },
    setup(){
        let items = [];
        items.push({ 'id':0, 'gender': 0, 'name': 'Diễm My' });
        items.push({ 'id':1, 'gender': 0, 'name': 'Trang' });
        items.push({ 'id':2, 'gender': 0, 'name': 'Ngọc' });
        items.push({ 'id':3, 'gender': 0, 'name': 'Thảo' });
        items.push({ 'id':4, 'gender': 0, 'name': 'Tú' });

        items.push({ 'id':5, 'gender': 1, 'name': 'Minh' });
        items.push({ 'id':6, 'gender': 1, 'name': 'Thắng' });
        items.push({ 'id':7, 'gender': 1, 'name': 'Nam' });
        items.push({ 'id':8, 'gender': 1, 'name': 'Dũng' });
        items.push({ 'id':9, 'gender': 1, 'name': 'Tài' });

        let dynamicSlotNames = [];
        dynamicSlotNames.push('header');
        dynamicSlotNames.push('default');
        dynamicSlotNames.push('footer');

        return {
            items,
            dynamicSlotNames
        }
    }
}
</script>
<style>
    .border-3 {
        border-width:3px !important;
    }
</style>