<template>
  <div>
    <h5>
      <slot name="header" />
    </h5>
    <ul>
      <li v-for="item in filterItems" :key="item.id">
        <slot name="itemcontent" :person="item">Default Content</slot>
      </li>
    </ul>
  </div>
</template>
<script>
import { ref } from "@vue/composition-api";
export default {
  name: "SlotDynamicComponent",
  props: {
    items: [],
  },
  setup(props) {
    const filterItems = ref(props.items.filter((item) => item.id > 1));
    return {
      filterItems,
    };
  },
};
</script>