<template>
    <div>
        <h5>Title: {{title}}</h5>
        <div class="border-top my-3"></div>
        Header:
        <slot name="header" :header="user">
            Header Slot
        </slot>
        <div class="border-top my-3"></div>
        Default:
        <slot name="default" :user="user">
            Default Slot
        </slot>
        <div class="border-top my-3"></div>
        Footer:
        <slot name="footer" :footer="user">
            Footer Slot
        </slot>
    </div>
</template>
<script>
export default {
    name: 'SlotNameComponent',
    props:{
        title: String
    },
    setup(){
        //private user
        const user = {'firstName': 'Định', 'lastName': 'Trần Quang', 'age': 20}
        return {
            user
        }
    }
}
</script>