<template>
  <div :id="id" class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <slot />
    </button>
    <ul class="dropdown-menu dropdown-menu-right">
      <li v-for="(item, index) in arrays" :key="index">
        <ItemComponent v-if="item.template === 'ItemComponent'" :closeDropdown="callToClose" :item="item" :icon="item.icon">
          {{ item.label }}
        </ItemComponent>
        <ItemLink v-if="item.template === 'ItemLink'" :closeDropdown="callToClose" :path="item.path" :icon="item.icon">
          {{ item.label }}
        </ItemLink>
        <SubMenu v-if="item.template === 'SubMenu'" :arrays="item.items" :icon="item.icon">
          {{ item.label }}
        </SubMenu>
      </li>
    </ul>
  </div>
</template>

<script>
import ItemComponent from './ItemComponent';
import ItemLink from './ItemLink';
import SubMenu from './SubMenu';
export default {
  name: 'DropdownMenu',
  components: {
    ItemComponent,
    ItemLink,
    SubMenu
  },
  data() {
    return {
      isOpen: false,
    };
  },
  props: {
    arrays: {
      type: Array,
      default: () => [],
    },
    id: {
      type: String,
      required: true,
    },
  },
  methods: {
    doActionItem(item){
      item.doAction();
      this.callToClose();
    },
    callToClose() {
      this.isOpen = false;
    }
  }
};
</script>
