<template>
  <button class="dropdown-item" @click="doFunc">
    <font-awesome-icon :icon="icon" v-if="icon"/>
    <slot />
  </button>
</template>
<script>

export default {
  name: 'ItemComponent',
  props: {
    icon: String,
    item: {
      type: Object,
      required: true,
    },
    closeDropdown: {
      type: Function,
      default: () => {},
    },
  },
  methods: {
    doFunc() {
      this.item.doAction();
      this.closeDropdown();
    }
  }
};
</script>