<template>
  <router-link :to="path" class="dropdown-item">
    <font-awesome-icon :icon="icon" v-if="icon"/>
    <slot/>
  </router-link>
</template>
<script>

export default {
  name: 'ItemLink',
  props: {
    icon: String,
    label: String,
    path: String
  }
};
</script>