<template>
  <li class="dropdown-submenu dropleft">
    <a class="dropdown-item" tabindex="-1" href="#" onclick="return false">
      <font-awesome-icon :icon="icon" />
      <slot/>
    </a>
    <ul class="dropdown-menu">
      <li v-for="(item, index) in arrays" :key="index">
        <ItemComponent v-if="item.template === 'ItemComponent'" :closeDropdown="callToClose" :item="item">
          {{ item.label }}
        </ItemComponent>
        <ItemLink v-if="item.template === 'ItemLink'" :closeDropdown="callToClose" :path="item.path" :icon="item.icon">
          {{ item.label }}
        </ItemLink>
      </li>
    </ul>
  </li>
</template>

<script>
import ItemComponent from './ItemComponent';
import ItemLink from './ItemLink';
export default {
  name: 'SubMenu',
  components: {
    ItemComponent,
    ItemLink
  },
  data() {
    return {
      isOpen: false,
    };
  },
  props: {
    arrays: {
      type: Array,
      default: () => [],
    },
    icon: String
  },
  methods: {
    doActionItem(item){
      item.doAction();
      this.callToClose();
    },
    callToClose() {
      this.isOpen = false;
    }
  }
};
</script>

<style scoped>
  .dropdown-submenu:hover > .dropdown-menu {
    display: block;
}
</style>