<template lang="pug">
<span :class="containerClass">
  include inputtext.pug
</span>
</template>
<script>
import { computed } from "@vue/composition-api";
export default {
  name: "InputNumberComponent",
  props: {
    value: Number,
    id: String,
    name: String,
    containerClass: String,
    min: Number,
    max: Number,
    locale: String,
    prefix: String,
    suffix: String,
    localeMatcher: String,
    mode: String,
    currency: String,
    currencyDisplay: String,
    useGrouping: {
      type: Boolean,
      default: true,
    },
    format: {
      type: Boolean,
      default: true,
    },
    minFractionDigits: Number,
    maxFractionDigits: Number,
    step: Number,
  },

  setup(props, { listeners, emit, refs }) {
    const numberFormat = new Intl.NumberFormat(props.locale, getOptions());
    const numerals = [
      ...new Intl.NumberFormat(props.locale, { useGrouping: false }).format(
        9876543210
      ),
    ].reverse();
    const index = new Map(numerals.map((d, i) => [d, i]));
    const _numeral = new RegExp(`[${numerals.join("")}]`, "g");
    const _decimal = getDecimalExpression();
    const _group = getGroupingExpression();
    const _minusSign = getMinusSignExpression();
    const _currency = getCurrencyExpression();
    const _suffix = new RegExp(`[${props.suffix || ""}]`, "g");
    const _prefix = new RegExp(`[${props.prefix || ""}]`, "g");
    const _index = (d) => index.get(d);
    const formattedValue = computed(() => {
      return formatValue(props.value);
    });

    function getDecimalExpression() {
      const formatter = new Intl.NumberFormat(props.locale, {
        useGrouping: false,
      });
      return new RegExp(
        `[${formatter.format(1.1).trim().replace(_numeral, "")}]`,
        "g"
      );
    }
    function getGroupingExpression() {
      const formatter = new Intl.NumberFormat(props.locale, {
        useGrouping: true,
      });
      const reg = new RegExp(
        `[${formatter.format(1000).trim().replace(_numeral, "")}]`,
        "g"
      );
      return reg;
    }
    function getMinusSignExpression() {
      const formatter = new Intl.NumberFormat(props.locale, {
        useGrouping: false,
      });
      return new RegExp(
        `[${formatter.format(-1).trim().replace(_numeral, "")}]`,
        "g"
      );
    }
    function getCurrencyExpression() {
      if (props.currency) {
        const formatter = new Intl.NumberFormat(props.locale, {
          style: "currency",
          currency: props.currency,
          currencyDisplay: props.currencyDisplay,
        });
        return new RegExp(
          `[${formatter
            .format(1)
            .replace(/\s/g, "")
            .replace(_numeral, "")
            .replace(_decimal, "")
            .replace(_group, "")}]`,
          "g"
        );
      }

      return new RegExp(`[]`, "g");
    }
    const mylisteners = computed(() => {
      return {
        ...listeners,
        blur: (event) => onInputBlur(event),
        input: (event) => onInput(event),
        keydown: (event) => onInputKeyDown(event),
        keypress: (event) => onInputKeyPress(event),
        click: (event) => onInputClick(event),
      };
    });

    var isSpecialChar = false;
    var lastValue = null;
    function onInput(event) {
      if (isSpecialChar) {
        event.target.value = lastValue;
      }
      isSpecialChar = false;
    }

    function insert(event, text) {
      let selectionStart = refs.inputRef.selectionStart;
      let selectionEnd = refs.inputRef.selectionEnd;
      let inputValue = refs.inputRef.value.trim();
      let maxFractionDigits = numberFormat.resolvedOptions()
        .maximumFractionDigits;
      let newValueStr;
      let decimalCharIndex = inputValue.search(_decimal);
      _decimal.lastIndex = 0;

      if (decimalCharIndex > 0 && selectionStart > decimalCharIndex) {
        if (
          selectionStart + text.length - (decimalCharIndex + 1) <=
          maxFractionDigits
        ) {
          newValueStr =
            inputValue.slice(0, selectionStart) +
            text +
            inputValue.slice(selectionStart + text.length);
          updateValue(event, newValueStr, "insert");
        }
      } else {
        newValueStr = insertText(
          inputValue,
          text,
          selectionStart,
          selectionEnd
        );
        updateValue(event, newValueStr, "insert");
      }
    }

    function isMinusSign(char) {
      if (_minusSign.test(char)) {
        _minusSign.lastIndex = 0;
        return true;
      }
      return false;
    }
    function initCursor() {
      let selectionStart = refs.inputRef.selectionStart;
      let inputValue = refs.inputRef.value;
      let valueLength = inputValue.length;
      let index = null;

      let char = inputValue.charAt(selectionStart);
      if (isNumeralChar(char)) {
        return;
      }

      //left
      let i = selectionStart - 1;
      while (i >= 0) {
        char = inputValue.charAt(i);
        if (isNumeralChar(char)) {
          index = i;
          break;
        } else {
          i--;
        }
      }

      if (index !== null) {
        refs.inputRef.setSelectionRange(index + 1, index + 1);
      } else {
        i = selectionStart + 1;
        while (i < valueLength) {
          char = inputValue.charAt(i);
          if (isNumeralChar(char)) {
            index = i;
            break;
          } else {
            i++;
          }
        }

        if (index !== null) {
          refs.inputRef.setSelectionRange(index, index);
        }
      }
    }
    function onInputClick() {
      initCursor();
    }
    function updateInput(value, operation) {
      let currentLength = refs.inputRef.value.length;
      if (currentLength === 0) {
        refs.inputRef.value = formatValue(value);
        refs.inputRef.setSelectionRange(0, 0);
        initCursor();
        refs.inputRef.setSelectionRange(
          refs.inputRef.selectionStart + 1,
          refs.inputRef.selectionStart + 1
        );
      } else {
        let selectionStart = refs.inputRef.selectionEnd;
        let selectionEnd = refs.inputRef.selectionEnd;
        refs.inputRef.value = formatValue(value);
        let newLength = refs.inputRef.value.length;

        if (newLength === currentLength) {
          if (operation === "insert")
            refs.inputRef.setSelectionRange(selectionEnd + 1, selectionEnd + 1);
          else if (operation === "delete-single")
            refs.inputRef.setSelectionRange(selectionEnd - 1, selectionEnd - 1);
          else if (operation === "delete-range")
            refs.inputRef.setSelectionRange(selectionStart, selectionStart);
          else if (operation === "spin")
            refs.inputRef.setSelectionRange(selectionStart, selectionEnd);
        } else {
          selectionEnd = selectionEnd + (newLength - currentLength);
          refs.inputRef.setSelectionRange(selectionEnd, selectionEnd);
        }
      }

      refs.inputRef.setAttribute("aria-valuenow", value);
    }

    function deleteRange(value, start, end) {
      let newValueStr;

      if (end - start === value.length) newValueStr = "";
      else if (start === 0) newValueStr = value.slice(end);
      else if (end === value.length) newValueStr = value.slice(0, start);
      else newValueStr = value.slice(0, start) + value.slice(end);

      return newValueStr;
    }

    function isNumeralChar(char) {
      if (
        char.length === 1 &&
        (_numeral.test(char) ||
          _decimal.test(char) ||
          _group.test(char) ||
          _minusSign.test(char))
      ) {
        resetRegex();
        return true;
      }
      return false;
    }

    function resetRegex() {
      _numeral.lastIndex = 0;
      _decimal.lastIndex = 0;
      _group.lastIndex = 0;
      _minusSign.lastIndex = 0;
    }

    function spin(event, dir) {
      let step = props.step * dir;
      let currentValue = parseValue(refs.inputRef.value) || 0;
      let newValue = validateValue(currentValue + step);
      updateInput(newValue, "spin");
      updateModel(newValue);
    }

    function insertText(value, text, start, end) {
      let newValueStr;
      if (end - start === value.length) newValueStr = text;
      else if (start === 0) newValueStr = text + value.slice(end);
      else if (end === value.length) newValueStr = value.slice(0, start) + text;
      else newValueStr = value.slice(0, start) + text + value.slice(end);
      return newValueStr;
    }

    function parseValue(text) {
      console.log("parseValue:", [
        _currency,
        _group,
        _suffix,
        _prefix,
        _minusSign,
        _decimal,
        _numeral,
        _index,
      ]);
      let filteredText = text
        .trim()
        .replace(/\s/g, "")
        .replace(_currency, "")
        .replace(_group, "")
        .replace(_suffix, "")
        .replace(_prefix, "")
        .replace(_minusSign, "-")
        .replace(_decimal, ".")
        .replace(_numeral, _index);

      if (filteredText) {
        let parsedValue = +filteredText;
        return isNaN(parsedValue) ? null : parsedValue;
      }

      return null;
    }

    function validateValue(value) {
      if (props.min != null && value < props.min) {
        return props.min;
      }

      if (props.max != null && value > props.max) {
        return props.max;
      }

      return value;
    }

    function onInputKeyDown(event) {
      lastValue = event.target.value;
      if (event.shiftKey || event.altKey) {
        isSpecialChar = true;
        return;
      }
      let selectionStart = event.target.selectionStart;
      let selectionEnd = event.target.selectionEnd;
      let inputValue = event.target.value;
      if (event.altKey) {
        event.preventDefault();
      }
      switch (event.which) {
        //up
        case 38:
          spin(event, 1);
          event.preventDefault();
          break;
        //down
        case 40:
          spin(event, -1);
          event.preventDefault();
          break;
        //left
        case 37:
          if (!isNumeralChar(inputValue.charAt(selectionStart - 1))) {
            event.preventDefault();
          }
          break;
        //right
        case 39:
          if (!isNumeralChar(inputValue.charAt(selectionStart))) {
            event.preventDefault();
          }
          break;
        //backspace
        case 8: {
          event.preventDefault();
          let newValueStr = null;

          if (selectionStart === selectionEnd) {
            let deleteChar = inputValue.charAt(selectionStart - 1);
            let decimalCharIndex = inputValue.search(_decimal);
            _decimal.lastIndex = 0;

            if (isNumeralChar(deleteChar)) {
              if (_group.test(deleteChar)) {
                _group.lastIndex = 0;
                newValueStr =
                  inputValue.slice(0, selectionStart - 2) +
                  inputValue.slice(selectionStart - 1);
              } else if (_decimal.test(deleteChar)) {
                _decimal.lastIndex = 0;
                refs.inputRef.setSelectionRange(
                  selectionStart - 1,
                  selectionStart - 1
                );
              } else if (
                decimalCharIndex > 0 &&
                selectionStart > decimalCharIndex
              ) {
                newValueStr =
                  inputValue.slice(0, selectionStart - 1) +
                  "0" +
                  inputValue.slice(selectionStart);
              } else {
                newValueStr =
                  inputValue.slice(0, selectionStart - 1) +
                  inputValue.slice(selectionStart);
              }
            }
            if (newValueStr != null) {
              updateValue(event, newValueStr, "delete-single");
            }
          } else {
            newValueStr = deleteRange(inputValue, selectionStart, selectionEnd);
            updateValue(event, newValueStr, "delete-range");
          }
          break;
        }
        default:
          break;
      }
    }

    function updateValue(event, valueStr, operation) {
      if (valueStr != null) {
        let newValue = parseValue(valueStr);
        updateInput(newValue, operation);
      }
    }

    function onInputKeyPress(event) {
      event.preventDefault();
      let code = event.which || event.keyCode;
      let char = String.fromCharCode(code);
      if ((48 <= code && code <= 57) || isMinusSign(char)) {
        insert(event, char);
      }
    }

    function formatValue(value) {
      if (value != null) {
        if (props.format) {
          let formatter = new Intl.NumberFormat(props.locale, getOptions());
          let formattedValue = formatter.format(value);
          if (props.prefix) {
            formattedValue = props.prefix + formattedValue;
          }
          if (props.suffix) {
            formattedValue = formattedValue + props.suffix;
          }
          return formattedValue;
        }
        return value;
      }
      return "";
    }
    function getOptions() {
      var options = {
        localeMatcher: props.localeMatcher,
        style: props.mode,
        currency: props.currency,
        currencyDisplay: props.currencyDisplay,
        useGrouping: props.useGrouping,
        minimumFractionDigits: props.minFractionDigits,
        maximumFractionDigits: props.maxFractionDigits,
      };
      console.log("options:", options);
      return options;
    }

    function onInputBlur(event) {
      props.focused = false;
      let newValue = validateValue(parseValue(refs.inputRef.value));
      refs.inputRef.value = formatValue(newValue);
      refs.inputRef.setAttribute("aria-valuenow", newValue);
      updateModel(newValue);
      emit("blur", event);
    }

    function updateModel(value) {
      console.log("updateModel value:", value);
      emit("input", value);
    }

    return {
      mylisteners,
      formattedValue,
    };
  },
};
</script>