<template>
  <div class="input-number-container">
      <InputNumberComponent v-model="input" @blur="doOnChange" mode="currency" currency="USD" locale="en-US"/>
  </div>
</template>
<script>
import { ref } from '@vue/composition-api'
import InputNumberComponent from "./InputNumberComponent";
export default {
  name: "InputNumberDemo",
  props:{
      value: {
        type: Number
      }
  },
  components: {
    InputNumberComponent,
  },
  setup(props){
      const input = ref(props.value);
      function doOnChange(event){
          console.log('doOnChange event:', event,'/oldValue:', input.value);
      }
      return {
          input,
          doOnChange
      }
  }
};
</script>