<template>
    <label>
        <input type="text" v-bind="$attrs" />
    </label>
</template>
<script>
export default {
    name: 'InheritAttrsComponent',
    inheritAttrs: false
}
</script>