<template>
    <div class="demo-container">
        <InheritAttrsComponent id="InheritAttrsComponent" class="InheritAttrsComponent-class" name="hihi"/>
    </div>
</template>
<script>
import InheritAttrsComponent from './InheritAttrsComponent';
export default {
    name: 'InheritAttrsDemo',
    components: {
        InheritAttrsComponent
    }
}
</script>