<template>
    <div :class="containerClass" @click="onClick">
       <div class="p-hidden-accessible">
           <input ref="input" type="radio" :checked="checked" :value="value" v-bind="$attrs" @focus="onFocus" @blur="onBlur">
        </div>
        <div ref="box" :class="['fomr-check-input p-radiobutton-box', {'p-highlight': checked, 'p-disabled': disabled, 'p-focus': focused}]" role="radio" :aria-checked="checked">
            <div class="p-radiobutton-icon"></div>
        </div>
    </div>
</template>
<script>
import { computed } from '@vue/composition-api';
import ObjectUtils from '../utils/object-utils.js';
export default {
    name: 'RadioButtonComponent',
    inheritAttrs: false,
    props: {
		value: String,
        modelValue: null,
        disabled: Boolean
    },
    model: {
        prop: 'modelValue',
        event: 'input'
    },
    setup(props, { emit, refs }){
        const { equals } = ObjectUtils();
        var focused = false;
        const checked = computed(() => {
            return props.modelValue != null && equals(props.modelValue, props.value);
        });
        const containerClass= computed(() => {
            return ['p-radiobutton p-component', {'p-radiobutton-checked': checked.value, 'p-radiobutton-disabled': props.disabled, 'p-radiobutton-focused': focused}];
        })

        function onClick(event) {
            if (!props.disabled) {
                emit('click', event);
                emit('input', props.value);
                refs.input.focus();

                if (!checked.value) {
                    emit('change', event);
                }
            }
        }

        function onFocus(event) {
            focused = true;
            emit('focus', event);
        }

        function onBlur(event) {
            focused = false;
            emit('blur', event);
        }

        return {
            focused,
            checked,
            containerClass,
            onClick,
            onFocus,
            onBlur
        }
    }
}
</script>
<style>
    .p-radiobutton{
        width:20px;
        height: 20px;
        cursor: pointer;
    }

    .p-radiobutton-box{
        width:20px;
        height: 20px;
        border-radius: 50%;
        border: 2px solid #ced4da;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .p-radiobutton-checked > .p-radiobutton-box{
        border-color: #2196F3;
        background: #2196F3;
    }
    .p-radiobutton-checked > .p-radiobutton-box > .p-radiobutton-icon{
        transform: scale(1);
    }
    .p-radiobutton-icon{
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #ffffff;
        transform: scale(0.1);
    }
</style>