<template>
    <div class="radio-button-demo">
        <h3>Basic</h3>
        <div class="form-check" v-for="(item, index) in cities" :key="index">
            <RadioButtonComponent :id="item.id" :name="item.name" :value="item.value" v-model="city" />
            <label :for="item.id" class="form-check-label">{{item.value}}</label>
        </div>
    </div>
</template>
<script>
import { ref } from '@vue/composition-api'
import RadioButtonComponent from './RadioButtonComponent'
export default {
    name: 'RadioButtonDemo',
    components: {
        RadioButtonComponent
    },
    setup(){
        const city = ref('Chicago');
        const cities = ref([]);
        cities.value.push({'id':'city1', 'name':'city', 'value': 'Chicago'})
        cities.value.push({'id':'city2', 'name':'city', 'value': 'Los Angeles'})
        cities.value.push({'id':'city3', 'name':'city', 'value': 'New York'})
        cities.value.push({'id':'city4', 'name':'city', 'value': 'San Francisco'})
        return {
            city,
            cities
        }
    }
}
</script>
<style>
    .p-hidden-accessible{
        width: 1px;
        height: 1px;
        overflow: hidden;
        position: absolute;
    }
    .form-check{
        display:flex;
        align-items: center;
    }
    .form-check-label{
        margin-left: 5px;
    }
</style>
