<template>
    <div>
        <VonComponents v-model="value" @change="doChange" @blur="doBlur"/>
        <br />
        <VonExtendComponent v-model="value" @change="doChange" @blur="doBlur" @blur1="doBlur1"/>
    </div>
</template>
<script>
import VonComponents from './VonComponents';
import VonExtendComponent from './VonExtendComponent';
import { ref } from '@vue/composition-api';
export default {
    name : 'Von',
    components: {
        VonComponents,
        VonExtendComponent
    },
    setup() {
        const value = ref('');
        function doChange(params){
            console.log('doChange params:', params)
        }
        function doBlur(params){
            console.log('doBlur params:', params)
        }
        function doBlur1(params){
            console.log('doBlur1 params:', params)
        }
        return {
            value,
            doChange,
            doBlur,
            doBlur1
        }
    }
}
</script>