<template>
    <input :class="['p-inputtext p-component', {'p-filled': filled}]" v-on="listeners" :value="value" />
</template>
<script>
export default {
    name : 'VonExtendComponent',
    props: {
        value: null
    },
    computed: {
        listeners() {
            console.log('...this.$listeners :', this.$listeners)
            return {
                ...this.$listeners,
                input: event => {
                    this.$emit('input', event.target.value)
                },
                blur: event => {
                    this.$emit('blur', event)
                    this.$emit('blur1', event)
                }
            };
        },
        filled() {
            return (this.value != null && this.value.toString().length > 0)
        }
    }
}
</script>