<template>
    <div class="container-admin d-flex col-md-12 col-lg-12 bg-light h-100 pl-0 pr-0 basic-components">
        <div class="col-md-2 col-lg-2 h-100 pl-0 pr-0">
            <nav class="navbar ">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <router-link to="/basic-components/input-text" class="nav-link">InputText</router-link>
                    </li>
                    <li class="nav-item">
                        <router-link to="/basic-components/input-switch" class="nav-link">Input Switch</router-link>
                    </li>
                    <li class="nav-item">
                        <router-link to="/basic-components/input-number" class="nav-link">Input Number</router-link>
                    </li>
                    <li class="nav-item">
                        <router-link to="/basic-components/inherit-attrs" class="nav-link">InheritAttrsDemo</router-link>
                    </li>
                    <li class="nav-item">
                        <router-link to="/basic-components/custom-listeners" class="nav-link">Custom event in $listeners</router-link>
                    </li>
                    <li class="nav-item">
                        <router-link to="/basic-components/radio-button" class="nav-link">RadioButton</router-link>
                    </li>
                    <li class="nav-item">
                        <router-link to="/basic-components/multi-select" class="nav-link">MultiSelect</router-link>
                    </li>
                    <li class="nav-item">
                        <router-link to="/basic-components/slot-name" class="nav-link">SlotName</router-link>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-md-10 col-lg-10 h-100 pl-0 pr-0">
            <div class="container-fluid h-100">
                <router-view />
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Components'
}
</script>