<template>
    <div class="container-admin d-flex col-md-12 col-lg-12 bg-light h-100 pl-0 pr-0 demos">
        <div class="col-md-2 col-lg-2 h-100 pl-0 pr-0">
            <nav class="navbar ">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <router-link to="/demo/slot" class="nav-link">Slot</router-link>
                    </li>
                    <li class="nav-item">
                        <router-link to="/demo/composition" class="nav-link">Composition</router-link>
                    </li>
                    <li class="nav-item">
                        <router-link to="/demo/composition1" class="nav-link">Composition && Validate</router-link>
                    </li>
                    <li class="nav-item">
                        <router-link to="/demo/vee-validate" class="nav-link">Vee Validate</router-link>
                    </li>
                    <li class="nav-item">
                        <router-link to="/demo/dynamic-component" class="nav-link">Dynamic Component</router-link>
                    </li>
                    <li class="nav-item">
                        <router-link to="/demo/dynamic-component1" class="nav-link">Dynamic Component1</router-link>
                    </li>
                    <li class="nav-item">
                        <Pug />
                    </li>
                    <li class="nav-item">
                        <router-link to="/demo/v-on" class="nav-link">v-on</router-link>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-md-10 col-lg-10 h-100 pl-0 pr-0">
            <div class="container-fluid h-100">
                <router-view />
            </div>
        </div>
    </div>
</template>

<script>
import Pug from '@/views/demo/pug/Pug.vue';
export default {
    name: 'Demo',
    components:{
        Pug
    }
}
</script>