<template>
    <EventsComponent v-model="value" :listeners="listeners" @doChange="doChange" @doFocus="doFocus" 
        @doBlur="doBlur" @doKeydown="doKeydown" @doKeyup="doKeyup" />
</template>
<script>
import EventsComponent from './EventsComponent';
import { ref } from '@vue/composition-api';
import input_events_default from './input-events-default';
export default {
    name: 'EventsTemplate',
    components:{
        EventsComponent
    },
    setup(){
        const value = ref('');
        function doChange(params){
            console.log('doChange params:', params)
        }
        function doFocus(params){
            console.log('doFocus params:', params)
        }
        function doBlur(params){
            console.log('doBlur params:', params)
        }
        function doKeydown(params){
            console.log('doKeydown params:', params)
        }
        function doKeyup(params){
            console.log('doKeyup params:', params)
        }

        const { listeners } = input_events_default();
        return {
            value,
            listeners,
            doChange,
            doFocus,
            doBlur,
            doKeydown,
            doKeyup
        }
    }
}
</script>