<template lang="pug">
    include template-events.pug
</template>
<script>
import inputtext from "./input-text";
export default {
  name: "EventsComponent",
  props: {
    value: String,
    listeners: {}
  },
  setup(props, { emit }) {
    const { input, onClick, onChange, onBlur, onFocus, onKeyup, onKeydown } = inputtext(props, { emit });
    return {
        input,
        onClick,
        onChange,
        onBlur,
        onFocus,
        onKeyup,
        onKeydown
    }
  },
};
</script>