<template lang="pug">
  include template-event.pug
</template>
<script>
import { ref } from '@vue/composition-api'
export default {
    name: 'Event',
    setup(){
        const question = ref('Event');
        function submitClick(){
            console.log('submitClick')
        }
        return {
            question,
            submitClick
        }
    }

}
</script>