<template lang="pug">
  extends template.pug
  block input
    input(type="text" :placeholder="placeholder")
</template>
<script>
import { ref } from '@vue/composition-api'
export default {
    name: 'Including',
    setup(){
        const question = ref('Extending');
        const placeholder = ref('placeholder extending');
        return {
            question,
            placeholder
        }
    }

}
</script>