<template lang="pug">
  include template.pug
</template>
<script>
import { ref } from '@vue/composition-api'
export default {
    name: 'Including',
    setup(){
        const question = ref('Including');
        return {
            question
        }
    }

}
</script>