<template>
  <DropdownMenuDynamic id="pug-dynamic-dropdownmenu1" :arrays="pugarrays">
    Pug
  </DropdownMenuDynamic>
</template>
<script>
import { ref } from "@vue/composition-api";
import DropdownMenuDynamic from "@/components/dynamic-menu/DropdownMenuDynamic";
import Item from "@/components/dynamic-menu/item";
export default {
  name: "Pug",
  components:{
    DropdownMenuDynamic
  },
  setup() {
    const pugarrays = ref([]);
    pugarrays.value.push(
      new Item("Including", "ItemLink", "/demo/pug-including", "user", null)
    );
    pugarrays.value.push(
      new Item("Extending", "ItemLink", "/demo/pug-extending", "user", null)
    );
    pugarrays.value.push(
      new Item("Event", "ItemLink", "/demo/pug-event", "user", null)
    );
    pugarrays.value.push(
      new Item("Events", "ItemLink", "/demo/pug-events", "user", null)
    );
    return {
      pugarrays,
    };
  },
};
</script>