div.wrapper
  label {{ value }}
  block input
    input(type="text", class="pure-button pure-button-primary", value="Sign in","@change"='onChange',
     "@focus"='onFocus', "@blur"='onBlur', "@keyup"='onKeyup', "@keydown"='onKeydown')