<template>
    <div ref="container" :class="containerClass" @click="onClick">
        <div class="vue-hidden-access">
            <input ref="focusInput" type="text" role="listbox" :id="inputId" readonly :disabled="disabled" @focus="onFocus" @blur="onBlur" @keydown="onKeyDown" :tabindex="tabindex"
                aria-haspopup="listbox" :aria-expanded="overlayVisible" :aria-labelledby="ariaLabelledBy"/>
        </div>
        <div class="vue-multiselect-label-container">
            <div :class="labelClass">
                <slot name="value" :value="inputValue" :placeholder="placeholder">
                    {{label}}
                </slot>
            </div>
        </div>
        <div class="vue-multiselect-trigger">
            <span class="vue-multiselect-trigger-icon">
                <font-awesome-icon icon="angle-down" />
            </span>
        </div>
        <transition name="vue-connected-overlay" @enter="onOverlayEnter" @leave="onOverlayLeave">
            <div ref="overlay" class="vue-multiselect-panel vue-component" v-if="overlayVisible">
                <div class="vue-multiselect-header">
                    <div class="vue-checkbox vue-component" @click="onToggleAll" role="checkbox" :aria-checked="allSelected">
                        <div class="vue-hidden-accessible">
                            <input type="checkbox" readonly @focus="onHeaderCheckboxFocus" @blur="onHeaderCheckboxBlur">
                        </div>
                        <div :class="['vue-checkbox-box', {'vue-highlight': allSelected, 'vue-focus': headerCheckboxFocused}]" role="checkbox" :aria-checked="allSelected">
                            <span :class="['vue-checkbox-icon', {'pi pi-check': allSelected}]">
                                <font-awesome-icon icon="check" />
                            </span>
                        </div>
                    </div>
                    <div v-if="filter" class="vue-multiselect-filter-container">
                        <input type="text" v-model="filterValue" class="vue-multiselect-filter vue-inputtext vue-component" :placeholder="filterPlaceholder" @input="onFilterChange">
                        <span class="vue-multiselect-filter-icon pi pi-search"></span>
                    </div>
                    <button class="vue-multiselect-close vue-link" @click="onCloseClick" type="button" >
                        <font-awesome-icon icon="times" />
                    </button>
                </div>
                <div ref="itemsWrapper" class="vue-multiselect-items-wrapper" :style="{'max-height': scrollHeight}">
                    <ul class="vue-multiselect-items vue-component" role="listbox" aria-multiselectable="true">
                        <li v-for="(option, i) of visibleOptions" :class="['vue-multiselect-item', {'vue-highlight': isSelected(option), 'vue-disabled': isOptionDisabled(option)}]" role="option" :aria-selected="isSelected(option)"
                            :aria-label="getOptionLabel(option)" :key="getOptionRenderKey(option)" @click="onOptionSelect($event, option)" @keydown="onOptionKeyDown($event, option)" :tabindex="tabindex||'0'">
                            <div class="vue-checkbox vue-component">
                                <div :class="['vue-checkbox-box', {'vue-highlight': isSelected(option)}]">
                                    <span :class="['vue-checkbox-icon', {'pi pi-check': isSelected(option)}]">
                                        <i class="fas fa-check" />
                                    </span>
                                </div>
                            </div>
                            <slot name="option" :option="option" :index="i">
                                <span>{{getOptionLabel(option)}}</span>
                            </slot>
                        </li>
                    </ul>
                </div>
            </div>
        </transition>
    </div>
</template>
<script>
import ObjectUtils from '../utils/object-utils.js';
import DomHandler from '../utils/dom-handler';
import { ref, computed, onBeforeUnmount, onUpdated } from '@vue/composition-api';
export default {
    name: 'MultiSelectComponent',
    props: {
        value: null,
        options: Array,
        optionLabel: null,
        optionValue: null,
        optionDisabled: null,
		scrollHeight: {
			type: String,
			default: '200px'
		},
		placeholder: String,
		disabled: Boolean,
		filter: Boolean,
        tabindex: String,
        inputId: String,
        dataKey: null,
        filterPlaceholder: String,
        filterLocale: String,
        ariaLabelledBy: null,
        appendTo: {
            type: String,
            default: null
        }
    },
    setup(props, context){
        console.log('context:', context)
        const { resolveFieldData, equals } = ObjectUtils();
        const { hasClass, generateZIndex, absolutePosition, relativePosition, getOuterWidth } = DomHandler();
        console.log('resolveFieldData:', resolveFieldData)
        console.log('equals:', equals)
        const { emit, refs, slots } = context;
        const inputValue = ref(props.value);
        const focused = ref(false);
        const headerCheckboxFocused = ref(false);
        const filterValue = ref('');
        const overlayVisible = ref(false);
        let outsideClickListener = null;
        const visibleOptions = computed(()=>{
             if (filterValue.value && filterValue.value.trim().length > 0)
                return props.options.filter(option => getOptionLabel(option).toLocaleLowerCase(props.filterLocale).indexOf(filterValue.value.toLocaleLowerCase(props.filterLocale)) > -1);
            else
                return props.options;
        })
        console.log('visibleOptions:', visibleOptions.value)
        /** computed BEGIN */
        const containerClass = computed(()=>{
            return [
                'vue-multiselect vue-component',
                {
                    'vue-disabled': props.disabled,
                    'vue-focus': focused.value,
                    'vue-inputwrapper-filled': inputValue.value && inputValue.value.length,
                    'vue-inputwrapper-focus': focused.value
                }
            ];
        })

        const labelClass = computed(()=>{
            return [
                'vue-multiselect-label',
                {
                    'vue-placeholder': label.value === props.placeholder,
                    'vue-multiselect-label-empty': !slots['value'] && !props.placeholder && (!inputValue.value || inputValue.value.length === 0)
                }
            ];
        })

        const label = computed(()=>{
            let label;

            if (inputValue.value && inputValue.value.length) {
                label = '';
                for(let i = 0; i < inputValue.value.length; i++) {
                    if(i !== 0) {
                        label += ', ';
                    }

                    label += getLabelByValue(inputValue.value[i]);
                }
            }
            else {
                label = props.placeholder || 'vue-multiselect';
            }

            return label;
        })

        const allSelected = computed(()=>{
            if (filterValue.value && filterValue.trim().length > 0) {
                let allSelected = true;
				if(visibleOptions.value.length > 0) {
					for (let option of visibleOptions.value) {
						if (!isSelected(option)) {
							allSelected = false;
							break;
						}
					}
                }
                else
                    allSelected = false;
                return allSelected;
            }
            else {
                return inputValue.value && props.options && (inputValue.value.length > 0 && inputValue.value.length === props.options.length);
            }
        })

        const equalityKey = computed(()=>{
            return props.optionValue ? null : props.dataKey;
        })

        /** computed END */

        /** functions BEGIN */
        function getOptionLabel(option) {
            return props.optionLabel ? resolveFieldData(option, props.optionLabel) : option;
        }
        function  getOptionValue(option) {
            return props.optionValue ? resolveFieldData(option, props.optionValue) : option;
        }

        function getOptionRenderKey(option) {
            return props.dataKey ? resolveFieldData(option, props.dataKey) : getOptionLabel(option);
        }

        function isOptionDisabled(option) {
            return props.optionDisabled ? resolveFieldData(option, props.optionDisabled) : false;
        }

        function isSelected(option) {
            let selected = false;
            let optionValue = getOptionValue(option);

            if (inputValue.value) {
                for (let val of inputValue.value) {
                    if (equals(val, optionValue, equalityKey.value)) {
                        selected = true;
                        break;
                    }
                }
            }

            return selected;
        }
        
        function show() {
            emit('before-show');
            overlayVisible.value = true;
        }
        
        function hide() {
            console.trace('hide:::')
            emit('before-hide');
            overlayVisible.value = false;
        }
        
        function onFocus() {
            focused.value = true;
        }
        
        function onBlur() {
            focused.value = false;
        }
        
        function onHeaderCheckboxFocus() {
            headerCheckboxFocused.value = true;
        }
        
        function onHeaderCheckboxBlur() {
            headerCheckboxFocused.value = false;
        }
        
        function onClick() {
            if (!props.disabled && (!refs.overlay || !refs.overlay.contains(event.target))) {
                if (overlayVisible.value)
                    hide();
                else
                    show();

                refs.focusInput.focus();
            }
        }
        
        function onCloseClick() {
            hide();
        }
        
        function onKeyDown(event) {
            switch(event.which) {
                //down
                case 40:
                    if (visibleOptions.value && !overlayVisible.value && event.altKey) {
                        show();
                    }
                break;

                //space
                case 32:
                    if (!overlayVisible.value) {
                        show();
                        event.preventDefault();
                    }
                break;

                //enter and escape
                case 13:
                case 27:
                    if (overlayVisible.value) {
                        hide();
                        event.preventDefault();
                    }
                break;

                //tab
                case 9:
                    hide();
                break;

                default:
                break;
            }
        }
        
        function onOptionSelect(event, option) {
            if (props.disabled || isOptionDisabled(option)) {
                return;
            }

            let selected = isSelected(option);
            let value = null;

            if (selected){
                value = inputValue.value.filter(val => !equals(val, getOptionValue(option), equalityKey.value));
            }else{
                value = [...inputValue.value || [], getOptionValue(option)];
            }
            inputValue.value = value;
            emit('input', value);
            emit('change', {originalEvent: event, value: value});
        }

        function onOptionKeyDown(event, option) {
            let listItem = event.target;

            switch(event.which) {
                //down
                case 40:
                    var nextItem = findNextItem(listItem);
                    if (nextItem) {
                        nextItem.focus();
                    }

                    event.preventDefault();
                break;

                //up
                case 38:
                    var prevItem = findPrevItem(listItem);
                    if (prevItem) {
                        prevItem.focus();
                    }

                    event.preventDefault();
                break;

                //enter
                case 13:
                    onOptionSelect(event, option);
                    event.preventDefault();
                break;

                default:
                break;
            }
        }
        
        function findNextItem(item) {
            let nextItem = item.nextElementSibling;

            if (nextItem)
                return hasClass(nextItem, 'vue-disabled') ? findNextItem(nextItem) : nextItem;
            else
                return null;
        }
        
        function findPrevItem(item) {
            let prevItem = item.previousElementSibling;

            if (prevItem)
                return hasClass(prevItem, 'vue-disabled') ? findPrevItem(prevItem) : prevItem;
            else
                return null;
        }
        
        function onOverlayEnter() {
            refs.overlay.style.zIndex = String(generateZIndex());
            appendContainer();
            alignOverlay();
            bindOutsideClickListener();
            emit('show');
        }
        
        function onOverlayLeave() {
            unbindOutsideClickListener();
            emit('hide');
        }
        
        function alignOverlay() {
            if (props.appendTo) {
                absolutePosition(refs.overlay, refs.container);
                refs.overlay.style.minWidth = getOuterWidth(refs.container) + 'px';
            }
            else {
                relativePosition(refs.overlay, refs.container);
            }
        }
        
        function bindOutsideClickListener() {
            if (!outsideClickListener) {
                outsideClickListener = (event) => {
                    if (overlayVisible.value && isOutsideClicked(event)) {
                        hide();
                    }
                };
                document.addEventListener('click', outsideClickListener);
            }
        }
        
        function unbindOutsideClickListener() {
            if (outsideClickListener) {
                document.removeEventListener('click', outsideClickListener);
                outsideClickListener = null;
            }
        }
        
        function isOutsideClicked(event) {
            return !(refs.container.isSameNode(event.target) || refs.container.contains(event.target) || (refs.overlay && refs.overlay.contains(event.target)));
        }
        
        function getLabelByValue(val) {
            let label = null;

            if (props.options) {
                for (let option of props.options) {
                    let optionValue = getOptionValue(option);

                    if(equals(optionValue, val, equalityKey.value)) {
                        label = getOptionLabel(option);
                        break;
                    }
                }
            }

            return label;
        }
        
        function onToggleAll(event) {
            const value = allSelected.value ? [] : visibleOptions.value  && visibleOptions.value.map(option => getOptionValue(option));
            inputValue.value = value;
            emit('input', value);
            emit('change', {originalEvent: event, value: value});
        }
        
        function appendContainer() {
            if (props.appendTo) {
                if (props.appendTo === 'body')
                    document.body.appendChild(refs.overlay);
                else
                    document.getElementById(props.appendTo).appendChild(refs.overlay);
            }
        }
        
        function restoreAppend() {
            if (refs.overlay && props.appendTo) {
                if (props.appendTo === 'body')
                    document.body.removeChild(refs.overlay);
                else
                    document.getElementById(props.appendTo).removeChild(refs.overlay);
            }
        }
        
        function onFilterChange(event) {
            emit('filter', {originalEvent: event, value: event.target.value});
        }
        /** functions END */

        /** hook lifecycle BEGIN */
        
        onBeforeUnmount(() => {
            restoreAppend();
            unbindOutsideClickListener();
        })

        onUpdated(() => {
            if (overlayVisible.value && filterValue.value) {
                alignOverlay();
            }
        })

        /** hook lifecycle END */
        return{
            inputValue,
            focused,
            headerCheckboxFocused,
            filterValue,
            overlayVisible,
            visibleOptions,
            containerClass,
            labelClass,
            label,
            allSelected,
            getOptionLabel,
            getOptionRenderKey,
            isOptionDisabled,
            isSelected,
            onFocus,
            onBlur,
            onHeaderCheckboxFocus,
            onHeaderCheckboxBlur,
            onClick,
            onCloseClick,
            onKeyDown,
            onOptionSelect,
            onOverlayEnter,
            onOverlayLeave,
            onToggleAll,
            onOptionKeyDown,
            onFilterChange
        }
    }
}
</script>

<style>
.vue-hidden-access{
    width:1px;
    height: 1px;
    position: absolute;
    overflow: hidden;
}

.vue-multiselect:not(.vue-disabled):hover {
    border-color: #2196F3;
}
.vue-multiselect {
    min-width: 100px;
    background: #ffffff;
    border: 1px solid #ced4da;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 3px;
    display: inline-flex;
    cursor: pointer;
    position: relative;
    justify-content: space-between;
}

.vue-multiselect-trigger {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    background: transparent;
    color: #6c757d;
    width: 30px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.vue-multiselect-trigger-icon {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.vue-multiselect-panel{
    position: absolute;
}
.vue-multiselect-header{
    display: flex;
    justify-content: space-between;
}
.vue-multiselect-close{
        border: none;
    background: none;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
}
.vue-multiselect-panel .vue-multiselect-header .vue-multiselect-close:enabled:hover {
    color: #495057;
    border-color: transparent;
    background: #e9ecef;
}
.vue-multiselect-close svg{
    height: 16px;
    width: 16px;
    padding: 0;
    margin: 0;
}
.vue-multiselect-items-wrapper > ul{
    padding:0;
    margin:0;
}
.vue-multiselect-header{
    padding: 0.5rem 0.5rem;
}
.vue-multiselect-item{
    list-style-type: none;
    padding: 0.5rem 0.5rem;
    margin:0;
    display: flex;
    white-space: nowrap;
}
.vue-checkbox{
    margin-right: 0.3rem;
}
.vue-checkbox .vue-checkbox-box.vue-highlight {
    border-color: #2196F3;
    background: #2196F3;
}
.vue-checkbox-icon{
    display: flex;
    align-items: center;
}
.vue-checkbox-icon .fa-check{
    display: none;
}
.vue-checkbox-icon.pi-check .fa-check{
    color: #ffffff;
    display: block;
}
</style>