<template>
    <div class="multi-select-demo">
        <MultiSelectComponent v-model="selectedCities1" :options="cities" optionLabel="name" placeholder="Select a City" @change="doOnChange"/>

    </div>
</template>
<script>
import { ref } from '@vue/composition-api'
import MultiSelectComponent from './MultiSelectComponent'
export default {
    name: 'MultiSelectDemo',
    components:{
        MultiSelectComponent
    },
    setup(){
        const selectedCities1 = ref('');
        let cities = [
                {name: 'New York', code: 'NY'},
                {name: 'Rome', code: 'RM'},
                {name: 'London', code: 'LDN'},
                {name: 'Istanbul', code: 'IST'},
                {name: 'Paris', code: 'PRS'}
            ]

        function doOnChange(obj){
            console.log('doOnchange obj:', obj)
            console.log('doOnchange selectedCities1:', selectedCities1.value)
        }
        return {
            doOnChange,
            selectedCities1,
            cities
        }    
    }
}
</script>