<template>
  <div id="app" class="d-flex flex-column">
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <a href class="navbar-brand" @click.prevent>bezKoder</a>
      <div class="navbar-nav mr-auto">
        <li class="nav-item">
          <router-link to="/demo" class="nav-link">
            <font-awesome-icon icon="home" />Demo
          </router-link>
        </li>
        <li class="nav-item">
          <router-link to="/basic-components" class="nav-link">
            <font-awesome-icon icon="cube" />Components
          </router-link>
        </li>
        <li class="nav-item">
          <router-link to="/home" class="nav-link">
            <font-awesome-icon icon="home" />Home
          </router-link>
        </li>
        <li v-if="showAdminBoard" class="nav-item">
          <router-link to="/admin" class="nav-link">Admin Board</router-link>
        </li>
        <li v-if="showDeveloperBoard" class="nav-item">
          <router-link to="/dev" class="nav-link">Developer Board</router-link>
        </li>
        <li class="nav-item">
          <router-link v-if="currentUser" to="/user" class="nav-link">User</router-link>
        </li>
      </div>

      <div v-if="!currentUser" class="navbar-nav ml-auto">
        <li class="nav-item">
          <router-link to="/register" class="nav-link">
            <font-awesome-icon icon="user-plus" />Sign Up
          </router-link>
        </li>
        <li class="nav-item">
          <router-link to="/login" class="nav-link">
            <font-awesome-icon icon="sign-in-alt" />Login
          </router-link>
        </li>
      </div>

      <div v-if="currentUser" class="navbar-nav ml-auto">
        <SettingDynamic></SettingDynamic>
      </div>
    </nav>

    <div class="container-fluid pl-0 pr-0 flex-grow-1">
      <router-view />
    </div>
  </div>
</template>

<script>
import Constants from '../src/constants';
import SettingDynamic from '@/views/SettingDynamic';
export default {
  computed: {
    currentUser() {
      return this.$store.state.auth.user;
    },
    showAdminBoard() {
      if (this.currentUser && this.currentUser.roles) {
        return this.currentUser.roles.includes(Constants.ROLE.ADMIN);
      }

      return false;
    },
    showDeveloperBoard() {
      if (this.currentUser && this.currentUser.roles) {
        return this.currentUser.roles.includes(Constants.ROLE.DEVELOPER);
      }

      return false;
    }
  },
  methods: {
    logOut() {
      this.$store.dispatch('auth/logout');
      this.$router.push('/login');
    }
  },
  components:{
    SettingDynamic
  }
};
</script>

<style>
  html,body, #app{
    height:100%;
  }
</style>