<template>
    <div>
        <h2> Switch</h2>
        <InputSwitchComponent v-model="switchChk" @change="onChange"/>
    </div>
</template>
<script>
import { ref } from '@vue/composition-api'
import InputSwitchComponent from './InputSwitchComponent'
export default {
    name: 'InputSwitchDemo',
    components: {
        InputSwitchComponent
    },
    props:{
        containerClass: String,
        value: Boolean
    },
    setup(props){
        const switchChk = ref(props.value);

        function onChange(newValue){
            console.log('onChange value:', newValue+"/switchChk:", switchChk.value)
        }
        return {
            onChange,
            switchChk
        }
    }
}
</script>