<template>
    <div :class="containerClass" @click="onClick">
        <div class="vue-hidden-input">
            <input ref="hiddenInput" type="checkbox" :name="name" :checked="state.input" :title="state.input" role="switch" @blur="onBlur" @focus="onFocus"
                @keydown.enter.prevent="onClick" :class="hiddenInputClass"/>
        </div>
        <span class="inputswitch-slider" />
    </div>
</template>
<script>
import { reactive, computed } from '@vue/composition-api';
export default {
    name: 'InputSwitchComponent',
    props:{
        value: Boolean,
        name : String
    },
    setup(props, { emit }){
        const state = reactive({
            input : props.value,
        });
        let focus = false;
        const containerClass = computed(() => {
            return ['inputswitch',
                {
                    'inputswitch-checked': state.input,
                    'inputswitch-focus': focus
                }
            ]
        })

        const hiddenInputClass = computed(()=> {
            return {
                'hiddenInput-checked': state.input,
                'hiddenInput-unchecked': !state.input
            }
        })
        function changeModel(newValue){
            emit("input", newValue);
        }

        function onClick(){
            state.input = !state.input;
            changeModel(state.input);
            emit('change', state.input);
            this.$refs.hiddenInput.focus();
        }

        function onFocus(){
            focus = true;
        }

        function onBlur(){
            focus = false;
        }

        return {
            state,
            containerClass,
            hiddenInputClass,
            onClick,
            onFocus,
            onBlur
        }
    }
}
</script>
<style>
    .vue-hidden-input{
        width:1px;
        height: 1px;
        position: absolute;
        overflow: hidden;
    }
    .inputswitch-slider{
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
        border-radius: 30px;
        background: #ccc;
        position: absolute;
    }
    .inputswitch-slider:before {
        background: #ffffff;
        position: absolute;
        content: "";
        top: 50%;
        width: 20px;
        height: 20px;
        left: 5px;
        margin-top: -0.625rem;
        border-radius: 50%;
        transition-duration: 0.2s;
    }
    .inputswitch{
        position: relative;
        display: inline-block;
        width: 45px;
        height: 25px;
    }
    .inputswitch.inputswitch-checked .inputswitch-slider{
        background: blue;
    }
    .inputswitch.inputswitch-checked .inputswitch-slider:before{
        left: 20px;
    }
    .inputswitch.inputswitch-focus .inputswitch-slider{
        box-shadow: 0 0 0 3px #edf;
    }
</style>