<template>
  <div><h1>I am Component1</h1>
       <form>
         First name:<br>
         <input type="text" name="firstname"><br>
         Last name:<br>
         <input type="text" name="lastname">
       </form>
  </div>
</template>
<script>
export default {
  name: 'Component1',
  props: {
    firstname: String,
    lastname: String
  }
}
</script>