<template>
  <div>
    <img alt="Vue logo" src="@/assets/logo.png">
    <div v-for="(item, index) in arrays" :key="index">
      <DynamicComponent :type="item.type"/>
    </div>
  </div>
</template>
<script>
import DynamicComponent from './DynamicComponent'
export default {
  name: 'DynamicComponent1',
  components: {
    DynamicComponent
  },
  data() {
      return {
          arrays:Array
      }
      
  },
  created(){
      this.arrays = [];
      for(var i = 1; i<=5; i++){
        let type = (i % 2 == 0 ? 'Component1' : 'Component2');
        this.arrays.push({'name':'Component ' + i, 'type':type});
      }
  },

}
</script>