<template>
  <div class="container-admin d-flex col-md-12 col-lg-12 bg-light h-100 pl-0 pr-0">
    <div class="col-md-2 col-lg-2 h-100 pl-0 pr-0">
      <nav class="navbar ">
        <ul class="navbar-nav">
          <li class="nav-item">
            <router-link to="/admin/accountList" class="nav-link">Accounts</router-link>
          </li>
        </ul>
      </nav>
    </div>
    <div class="col-md-10 col-lg-10 h-100 pl-0 pr-0">
      <div class="container-fluid h-100">
        <router-view />
      </div>
    </div>
  </div>
</template>

<script>
import UserService from '../services/jwt-authen/user.service';
export default {
  name: 'Admin',
  data() {
    return {
      content: ''
    };
  },
  mounted() {
    UserService.getAdminBoard().then(
      response => {
        this.content = response.data;
      },
      error => {
        this.content =
          (error.response && error.response.data) ||
          error.message ||
          error.toString();
      }
    );
  }
};
</script>