<template>
  <div class="container">
    <header class="jumbotron">
      <h3>{{content}}</h3>
    </header>
  </div>
</template>

<script>
import UserService from '../services/jwt-authen/user.service';

export default {
  name: 'Developer',
  data() {
    return {
      content: ''
    };
  },
  mounted() {
    UserService.getDeveloperBoard().then(
      response => {
        this.content = response.data;
      },
      error => {
        this.content =
          (error.response && error.response.data) ||
          error.message ||
          error.toString();
      }
    );
  }
};
</script>