<template>
    <DropdownMenuDynamic id="dynamic-dropdownmenu1" :arrays="arrays">
          {{currentUser.username}}
    </DropdownMenuDynamic>
</template>
<script>
import DropdownMenuDynamic from '@/components/dynamic-menu/DropdownMenuDynamic';
import Item from '@/components/dynamic-menu/item';
import SubMenuItem from '@/components/dynamic-menu/sub-menu-item';
import {loadLanguageAsync} from '@/i18n/i18n-setup';
export default {
    name: 'SettingDynamic',
    data() {
        return {
            arrays:Array
        }
        
    },
    created(){
        this.arrays = [];
        this.arrays.push(new Item('Profile', 'ItemLink', '/profile', 'user',() => {
            console.log('do menu item: label1' )
        }));        
        let subMenus = [];
        subMenus.push(new Item('English', 'ItemComponent', '', '', loadLanguageAsync, 'en'));
        subMenus.push(new Item('Việt Nam', 'ItemComponent', '', '', loadLanguageAsync, 'vn'));
        this.arrays.push(new SubMenuItem('Language', 'SubMenu', '', 'globe', null, subMenus));

        this.arrays.push(new Item('LogOut', 'ItemComponent', '', 'sign-out-alt', this.logOut));
    },
    components:{
        DropdownMenuDynamic
    },
    computed: {
        currentUser() {
            return this.$store.state.auth.user;
        }
    },
    methods: {
        logOut() {
            this.$store.dispatch('auth/logout');
            this.$router.push('/login');
        }
    }
}
</script>