<template>
    <div>
        <CustomListenerComponent @customChange="onChange" v-model="input" name="ListenerBasic" />
    </div>
</template>
<script>
import CustomListenerComponent from './CustomListenerComponent'
import { ref } from '@vue/composition-api'
export default {
    name: 'CustomListenerDemo',
    props:{
        value: String
    },
    components:{
        CustomListenerComponent
    },
    setup(props){
        const input = ref(props.value)
        function onChange(event){
            console.log('customChange: input', input.value, '/event value:', event.target.value)
        }

        return {
            input,
            onChange
        }
    }
}
</script>