<template>
    <div>
        <ListenerBasic v-on="listeners1" v-model="input" :name="name" />
    </div>
</template>
<script>
import ListenerBasic from './ListenerBasic'
import { ref, computed } from '@vue/composition-api'
export default {
    name: 'CustomListenerComponent',
    props:{
        value: String,
        name: String
    },
    components:{
        ListenerBasic
    },
    setup(props, { listeners, emit }){
        const input = ref(props.value);
        const listeners1 = computed(()=>{
            return {
                ...listeners,
                customChange: event => {
                    console.log('CustomListenerComponent customChange')
                    emit("customChange", event);
                }
            }
        });
        return {
            input,
            listeners1
        }
    }
}
</script>