<template>
    <input :name="name" v-on="listeners1" v-model="input">
</template>
<script>
import { ref, computed } from '@vue/composition-api'
export default {
    name: 'ListenerBasic',
    props:{
        name: String,
        value: String
    },
    setup(props, context){
        console.log('context :', context)
        const input = ref(props.value);
        const listeners1 = computed(()=>{
            return {
                ...context.listeners,
                input: () => {
                   
                },
                change: event => {
                    console.log('ListenerBasic change this:', this)
                    context.emit('input', event.target.value)
                    context.emit("change", event);
                    context.emit("customChange", event);
                },
            }
        });
        return {
            input,
            listeners1
        }
    }
}
</script>