<template>
    <div class="container">
        <ValidationObserver ref="observer" tag="form" @submit.prevent="onSubmit()" v-slot="{ invalid }">
            <ValidationProvider name="name" rules="required|alpha|min:5" v-slot="{ errors }" >
                <input id="name" name="name" class="form-control" type="text" v-model="name" :placeholder="$t('name')" @change="onNameChange"/>
                <span id="error">{{ errors[0] }}</span>     
            </ValidationProvider>  
            <ValidationProvider name="email" rules="required|email" v-slot="{ errors }" >
                <input id="email" class="form-control" name="email" v-model="email" type="text" />
                <span id="error">{{ errors[0] }}</span>
            </ValidationProvider>  
            <ValidationProvider name="password" rules="required|confirmed:confirm1" v-slot="{ errors }" >
                <input id="password" name="password" class="form-control" v-model="password" type="password" />
                <span id="error">{{ errors[0] }}</span>     
            </ValidationProvider>  
            <ValidationProvider name="passwordConform" vid="confirm1" rules="required" v-slot="{ errors }">
                <input id="passwordConform" name="passwordConfirm" class="form-control" v-model="passwordConfirm" type="password" />
                <span id="error">{{ errors[0] }}</span>      
            </ValidationProvider>  
            <br />
            <button type="submit" :disabled="invalid">Submit</button>
        </ValidationObserver>
    </div>
</template>
<script>
import { ref } from '@vue/composition-api';
import { ValidationObserver, ValidationProvider } from 'vee-validate';
import VeeValidate from 'vee-validate';
import Vue from 'vue';
Vue.use(VeeValidate);
export default {
    name: "VeeValidate",
    setup(){
        const name = ref("");
        const email = ref("");
        const password = ref("");
        const passwordConfirm = ref("");
        function onNameChange(){
            console.log('name change:', name.value)
        }
        return{
            name,
            email,
            password,
            passwordConfirm,
            onNameChange
        }
    },
    components:{
        ValidationProvider,
        ValidationObserver
    },
    methods: {
        async onSubmit () {
            const isValid = await this.$refs.observer.validate();
            if (!isValid) {
                console.log('invalid')
            }else{
                console.log('valid')
            }
        }
    }
}
</script>