.vue-hidden-accessible{
    height: 1px;
    width: 1px;
    position: absolute;
    overflow: hidden;
}
.vue-checkbox{
    width: 20px;
    height: 20px;
    display:inline;
}
.vue-checkbox .vue-checkbox-box{
    width: 20px;
    height: 20px;
    border-radius:3px;
    border: 2px solid #ced4da;
}
.vue-checkbox .vue-checkbox-box:hover{
    border-color: #2196F3;
}